<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="!test">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeMdcKeyName>messageId</includeMdcKeyName>
                <includeMdcKeyName>bppId</includeMdcKeyName>
                <includeMdcKeyName>transactionId</includeMdcKeyName>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="test">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%mdc] - %msg%n</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <!-- Application log level is controlled via logging.level.org.beckn.catalogpublish in application.yml.
         Default is INFO. Set to DEBUG in local profiles or via env var LOGGING_LEVEL_ORG_BECKN_CATALOGPUBLISH=DEBUG. -->
    <logger name="org.hibernate.SQL" level="WARN" />
    <logger name="org.apache.kafka" level="WARN" />

</configuration>
